mail-info {
  div.colorbar {
    position: absolute;
    left:0;
    top:5%;
    height: 90%;
  }

  .item-md {
    div.colorbar {
      width : 0.3*$item-md-padding-left;
    }
  }

  .item-ios {
    div.colorbar {
      width : 0.3*$item-ios-padding-left;
    }
  }

  .item-wp {
    div.colorbar {
      width : 0.3*$item-wp-padding-left;
    }
  }

  .name {
    font-size: $font-size-medium;
    margin-bottom: 4pt;
  }

  ion-item.read {
    background-color: $color-read;
  }

  ion-item.unread {
    background-color: $color-new;
  }

  .name.unread {
    font-weight: bold;
  }

  .subject {
    font-size: $font-size-small;
    // height: (3*$font-size-small);
    // word-wrap: break-word;
    // width: 100%;
  }

  label {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: (1.2*$font-size-small);        /* fallback */
    max-height: (2.4*$font-size-small);       /* fallback */
  }

  .snippet {
    font-size: $font-size-small;
    color: $color-grey-text;
  }

  ion-item {
    .label {
      margin-top: 5pt;
      margin-bottom: 5pt;
    }
  }

  .badge {
    margin-left: 10pt;
    background-color: $color-badge;
    color: $color-badge-font;
    font-weight: normal;
  }

  .date {
    margin-left: auto;
    font-weight: normal;
  }
}
