page-mailview {

  div.toolbar-title {
    font-size: 12pt;
    white-space: normal;
    overflow-y: hidden;
    position: absolute;
    // height: $toolbar-height;
  }

  div.toolbar-title-md {
    max-height: $toolbar-md-height;
  }
  div.toolbar-title-ios {
    max-height: $toolbar-ios-height;
  }
  div.toolbar-title-wp {
    max-height: $toolbar-wp-height;
  }


  div.text {
    white-space: pre-wrap;
    padding: 2pt;
  }

  div.scroll-content {
    overflow: scroll;
  }

  ion-content.content {
    width: 100% !important;
  }
}
